@import "vars";

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__heading {
    padding-top: 50px;
    font-weight: bold;
    word-spacing: 7px;
    color: #777;
    text-align: center;
    line-height: 2;
    font-size: 24px;
    margin: 0;
  }

  &__text {
    text-align: center;
    color: #444;
    line-height: 1.5;
    font-size: 18px;
  }

  &__button {
    width: 285px;
    margin-top: 15px;
    margin-bottom: 70px;
    background-color: #e1aa6e;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .support {
    flex-direction: column;

    &__heading {
      margin-bottom: 16px;
    }
  }
}
