@import "vars";

.consultation {
  display: flex;
  justify-content: stretch;

  &__text {
    background-color: #00aaef;
  }

  &__heading {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
  }
}

.work {
  $gap: 20px;
  display: flex;
  justify-content: space-between;

  &__img {
    width: calc(50% - #{$gap} / 2);
    height: 260px;
    object-fit: cover;
    object-position: center;
  }

  .work__img--wide-left {
    &:first-child {
      width: calc(67% - #{$gap} / 2);
    }

    &:last-child {
      width: calc(33% - #{$gap} / 2);
    }
  }

  .work__img--wide-right {
    &:first-child {
      width: calc(33% - #{$gap} / 2);
    }

    &:last-child {
      width: calc(67% - #{$gap} / 2);
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .photos {
    flex-direction: column;

    &__text,
    &__form {
      width: 100%;
    }
  }
}
