.footer {
  text-align: center;
  color: #b9b9b9;
  padding: 60px 0 20px;

  hr {
    border: 2px solid #cdcdcd;
    margin-bottom: 50px;
  }

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #cdcdcd;
    margin: 15px;
  }

  p {
    font-size: 14px;
    margin: 20px;
  }

  &__mail {
    font-weight: bold;
    color: #f6bc8a;
  }

  .down {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #cdcdcd;
  }

  &__copyright {
    font-size: 12px;
  }
}

.nav {
  margin-bottom: 50px;

  &__link {
    color: #999;
    margin: 30px;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.9s;

    &:hover {
      color: #f6bc8a;
    }
  }
}
