.footer {
  height: 405px;
  background-color: white;
  border-top: 2px solid #ccc;
  box-sizing: border-box;
  margin-top: 50px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    margin: 42px auto 0;
  }

  &__info {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: black;
  }

  &__fillers {
    margin: 43px auto;
    text-align: center;
  }

  &__address {
    color: #cecece;
    text-align: center;
  }

}

@media (min-width: 1921px) {
  .footer {
    padding: 68px 227px 83px;
  }
}

@media (max-width: 950px) {
  .footer {
    padding: 34px 14.18% 41px;

    &__container {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}
