@import "vars";

.header {
  height: 650px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: 400;
  line-height: 1;

  &__nav {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 40px;
  }

  &__top {
    position: absolute;
    top: 35px;
    left: calc(50% - #{$logo-width / 2});
    display: flex;
    color: white;
  }

  &__bottom {
    padding: 76px 20% 0;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: white;
    font-weight: 900;
    font-size: 64px;
    line-height: 96px;
    margin-bottom: 22px;
  }

  &__paragraph {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
    color: white;
    margin-bottom: 42px;
    white-space: nowrap;
  }

  &__button {
    width: 226px;
    height: 56px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 16px;
    background: white;
    border-radius: 64px;
    text-decoration: none;
    color: #253757;
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: rgb(255, 255, 87);
      color: sienna;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed;
    transition: color $hover-duration;
    text-transform: uppercase;

    &:hover {
      color: $active-color;
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .header {
    &__top {
      flex-direction: column;
    }

    &__phone {
      margin: -30px 0 10px;
    }
  }
}
