.header {
  background-image: url(../images/bg.jpg);
  filter: opacity(90%) grayscale(40%);
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  .header__up {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    &-logo {
      max-width: 370px;
      margin-right: 20px;

      img {
        width: 100%;
      }
    }

    &-menu {
      text-transform: uppercase;
      font-size: 16px;
      align-self: center;

      a {
        color: #454546;
        margin: 40px;
        padding-bottom: 40px;
        transition: color 1s;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: #fff;
          border-bottom: 4px solid #00b6d4;
          transition: border-bottom-color 0.8s;
        }
      }
    }
  }

  .header__title {
    max-width: 450px;
    width: 100%;
    margin-top: 180px;

    h2 {
      font-weight: 900;
      margin-bottom: 55px;

      span {
        padding-bottom: 30px;
        border-bottom: 4px solid #00b6d4;
      }
    }
  }
}
