.join {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0089b4;
  color: #fff;

  &__photo {
    flex: 1;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__text {
    padding: 40px 0 40px 30px;
    flex: 1;
  }

  .quote {
    font-style: italic;
  }

  h2 {
    margin: 45px 0;
  }

  span {
    padding-bottom: 30px;
    border-bottom: 4px solid #00b6d4;
  }

  p {
    max-width: 500px;
    margin-right: 30px;
  }

  .btn {
    margin: 50px 30px 0 0;
    background: #00b6d4;
    border-bottom: 6px solid #008fa7;
  }
}
