.photos {
  $gap: 20px;
  display: flex;
  justify-content: space-between;

  &__img {
    width: calc(50% - #{$gap} / 2);
    height: 503px;
    object-fit: cover;
    object-position: center;
  }

  .photos__img--wide-left {
    &:first-child {
      width: calc(0% - #{$gap} / 2);
    }

    &:last-child {
      width: calc(0% - #{$gap} / 2);
    }
  }

  .photos__img--wide-right {
    z-index: 1;
    display: flex;
    justify-content: center;

    &:first-child {
      width: calc(100% - #{$gap} / 2);
    }

    &:last-child {
      width: calc(100% - #{$gap} / 2);
    }
  }
}
