.slide {
  background-size: cover;
  background-image: url(../images/people/layer_gallery.png);
  background-color: #1b97c5;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;

  h2 {
    padding-top: 30px;
  }

  &__bg {
    background-color: #0089b4;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }

  &__foto {
    max-width: 760px;
    margin: 0 auto;

    img {
      position: relative;
      bottom: -60px;
      margin: 0 0 100px;
      width: 100%;
    }
  }
}

.section-empty {
  height: 100px;
  background-color: white;
}

.sl {
  max-width: 760px;
  margin: 0 auto;
  transform: translate(0,70px);
}
