.slide {
  background-size: cover;
  background-image: url(../images/people/layer_gallery.png);
  background-position: center;
  text-align: center;
  color: #fff;

  &__title {
    padding-top: 30px;
  }

  &__bg {
    background-color: #1b97c5;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

.section-empty {
  height: 100px;
  background-color: white;
}

.sl {
  max-width: 760px;
  margin: 0 auto;
  transform: translate(0,70px);
}
