@import "vars";

.support {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading {
    font-weight: 900;
    padding-bottom: 22px;
    padding-top: 100px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 48px;
    margin: 0;
    word-spacing: 14px;
  }

  &__text {
    text-align: center;
    color: white;
    font-size: 18px;
    word-spacing: 4px;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .support {
    flex-direction: column;

    &__heading {
      margin-bottom: 16px;
    }
  }
}
