.support {
  background-color: #00b6d4;
  text-align: center;
  color: #fff;
  overflow: hidden;

  &__title {
    font-size: 48px;
    padding: 100px 0 30px;
    font-weight: 900;
    word-spacing: 14px;
  }

  &__text {
    margin-bottom: 80px;
    font-size: 18px;
    word-spacing: 4px;
  }

  &__background {
    position: relative;
    bottom: -5px;
    max-width: 940px;
    margin: 0 auto;
  }

  &__img {
    width: 100%;
  }
}
