.support {
  background-color: #00b6d4;
  text-align: center;
  color: #fff;
  overflow: hidden;

  h2 {
    font-size: 48px;
    padding: 100px 0 30px;
    font-weight: 900;
    word-spacing: 14px;
  }

  p {
    margin-bottom: 80px;
    font-size: 18px;
    word-spacing: 4px;
  }

  &__human-img {
    position: relative;
    bottom: -5px;
    max-width: 940px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }
}
