@import "vars";

.work {
  $gap: 20px;
  display: flex;
  justify-content: space-between;

  &__preamble {
    font-size: 18px;
    font-style: italic;
    word-spacing: 1px;
  }

  &__text {
    background-color: #367ab7;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    padding-left: 31px;
  }

  &__heading {
    font-size: 48px;
    line-height: 2;
    margin-bottom: 24px;
    font-weight: 900;
    color: white;
  }

  &__button {
    background-color: #00b5d2;
    width: 285px;
    margin-bottom: 42px;
  }

  &__img {
    width: calc(50% - #{$gap} / 2);
    height: 350px;
    object-fit: cover;
    object-position: top center;
  }

  &__img--wide-left {
    &:first-child {
      width: calc(67% - #{$gap} / 2);
    }

    &:last-child {
      width: calc(33% - #{$gap} / 2);
    }
  }

  &__img--wide-right {
    &:first-child {
      width: calc(33% - #{$gap} / 2);
    }

    &:last-child {
      width: calc(67% - #{$gap} / 2);
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .photos {
    flex-direction: column;

    &__text,
    &__form {
      width: 100%;
    }
  }
}
