@media screen and (max-width: 1180px) {
  .container {
    margin: 0 30px;
  }
}

@media screen and (max-width: 1000px) {
  .join {
    flex-flow: column;
    align-items: center;
  }
}

@media screen and (max-width: 773px) {
  .header__up {
    flex-flow: column;
    align-items: center;
  }
}

@media screen and (max-width: 773px) {
  .partners {
    flex-direction: column;

    &__logo {
      width: 150px;
    }
  }
}

@media screen and (max-width: 773px) {
  .sl {
    max-width: 400px;
    margin: 0 auto;

    &__img {
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 773px) {
  #menu li {
    display: block;
    background: #0089b4;
    padding-bottom: 10px;
    width: 120px;
    padding-top: 7px;
    height: 40px;
    text-align: center;
    transition: 1s;
    border-radius: 10px;
    margin: 2px;

    &:hover {
      background-color: #f6bc8a;
      color: white;
    }
  }

  #menu a {
    color: #fff;
    margin-left: 5px;
    padding-bottom: 0;
    border-bottom: none;
  }
  .menu__trigger {
    display: block;
    border-radius: 10px;
  }
  #menu {
    display: none;
    border-radius: 10px;
  }
}

@media screen and (max-width: 524px) {
  .nav__link {
    margin: 10px;
  }
}

@media screen and (max-width: 375px) {
  .nav__item {
    display: block;
    padding-bottom: 10px;
  }

  .btn {
    font-size: 14px;
  }
}
