.partners {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  &__logo {
    filter: opacity(50%) grayscale(100%);
  }

  &__logo:hover {
    filter: opacity(100%) grayscale(0%);
    transition: 0.6s;
  }
}
