* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.btn {
  margin: 80px 0 130px;
  background: #f3ab6b;
  cursor: pointer;
  border: none;
  border-bottom: 6px solid #c98f57;
  color: #fff;
  font-size: 20px;
  padding: 20px 80px;
  text-transform: uppercase;
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.menu__trigger {
  display: none;

  &-link {
    display: block;
    font-size: 20px;
    color: #fff;
  }
}
